<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./asset/css/about.css">
<%-include('./inc/libcss.ejs')%>
</head>

<body>
<%-include('./inc/nav.ejs')%>
<section class="about-section bg-second">
  <div class="container-fluid p-0">
    <div class="row no-gutters position-relative">
      <div class="left-header d-none d-lg-block col-lg-3 col-xl-4">
        <div class="v-center-box d-flex align-items-end text-uppercase">
          <h2 class="mb-0 text-white">Haqqımızda</h2>
        </div>
      </div>
      <div class="col-lg-9 col-xl-8">
        <div class="main-content p-5">
          <div class="main-header mb-4">
            <h1 class="main-heading d-inline-block text-dark text-uppercase pb-3 pt-14 border-bottom"> Xarı Bülbül </h1>
          </div>

          <div class="row mb-5">
            <div class="mb-5 mb-sm-4 col-md-4">
              <img src="/sayt/images/instagram/instagram-4.jpg" alt="Colorful Wall">
            </div>
            <div class="col-md-8">
              <div class="about__text mb-5 mb-sm-4 mb-md-4">
                <h3>Bizim Haqqımızda</h3>
                <p class="m-0">Bu Hissədə Biznes Şəbəkəsi Haqqında Yazılar Qeyd ediləcək</p>
              </div>
              <div class="about__skills">
                <div class="row no-gutters mb-0 mb-sm-4">
                  <div class="mb-4 mb-sm-0 pr-sm-3 col-sm-6">
                    <div class="media">
                      
                      <div class="media-body">
                        <h4 class="m-0 text-success">Müxtəlif Çeşidlər</h4>
                        <p class="m-0">Birbirindən fərqli müxtəlif çeşidlərə sahib şkoladlarımız var</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4 mb-sm-0 pl-sm-3 col-sm-6 ">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="m-0 text-success">Şkolad Qutuları</h4>
                        <p class="m-0">Milli Dəyərlərimizi Əks Elətdirən Müxtəlif Dizayna Sahib Şkolad Qutuları </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row no-gutters mb-0 mb-sm-4">
                  <div class="mb-4 mb-sm-0 pr-sm-3 col-sm-6">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="m-0 text-success">Sass</h4>
                        <p class="m-0">Eaque voluptatibus dolores. Quod. Lorem dolor sit
                          amet
                          consectetur. Minus, asperiores.</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-0 pl-sm-3 col-sm-6">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="m-0 text-success underline">Node.js</h4>
                        <p class="m-0">Numquam saepe deserunt obcaecati? Doloribus. Lorem
                          ipsum dolor
                          sit amet adipisicing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

    <div class="bg-dark-four dark-footer">


<%-include('./inc/footer.ejs')%>
    </div>

  
<%-include('./inc/libscript.ejs')%>

    <!-- Activation JS -->
    <script src="/asset/js/main.js"></script>

</body>

</html>