<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
<%-include('./inc/libcss.ejs')%>

</head>

<body>
<%-include('./inc/nav.ejs')%>

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb" data-bg-image="/sayt/images/product/menu-discover-2.jpg" style="background-image: url(/sayt/images/category/cat25.jpeg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h1 class="breadcrumb_title">XarıBülbül Interier</h1>
                        <ul class="breadcrumb_list">
                            <li><a href="/">Ev</a></li>
                            <li>Şkolad Evi İnteryer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Start -->
    <div class="shop-product-section sidebar-left overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12 section-padding-04">
                    <!-- Product Section Start -->
                    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__image border w-100">
                                    <img width="350" height="350" src="/sayt/images/product/menu-discover-5.jpg" alt="Product">
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <img width="350" height="350" src="/sayt/images/instagram/instagram-7.jpg" alt="Product">
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                      
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <img width="350" height="350" src="/sayt/images/instagram/instagram-8.jpg" alt="Product">
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>

                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <img width="350" height="350" src="/sayt/images/product/discover-2.jpg" alt="Product">
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>

                    </div>
                    <!-- Product Section End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section End -->

    <!-- Scroll Top Start -->
    <a href="#/" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->

    <div class="bg-dark-four dark-footer">
 <%-include('./inc/footer.ejs')%>
    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<%-include('./inc/libscript.ejs')%>
    <!-- Activation JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>